/.idea
/vendor
/node_modules
.env
getbranches.sh

Envoy.blade.php

# Ignore the builded files. The application needs to be built on the server.
/public/build
/public/css
/public/js/all.js
/public/js/all.js.map

/resources/assets/bower

/storage/documents
