/.idea
/vendor
/node_modules
.env
*.swp
*.sql
tags

Envoy.blade.php

# Ignore the builded files. The application needs to be built on the server.
/public/build
/public/js/all.js
/public/js/all.js.map
/public/js/main.js
/public/js/main.js.map
/public/css
/resources/assets/bower

/storage/documents
/storage/cv
/storage/poza
/storage/news
/storage/reports
/storage/var
