input[type=file].hidden {
	display: none;
}


.message-box {
	position: fixed;
	top : 10px;
	left: 25%;
	width: 50%;
	z-index: 1001;
}

.ellipsis{
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}