/*body {
    background: #13a8ac url(/img/cloud_bg.png) no-repeat center center;
}

.page-mid {
    background-color: white;
    width: 960px;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}*/

.social-links-container a {
	text-decoration: none;
}