@font-face {
    font-family: "Open Sans", 'Cambria', Arial, sans-serif;
}

* {
    font-family: "Open Sans", 'Cambria', Arial, sans-serif;
}

body {
    background: #13a8ac url(/img/cloud_bg.png) no-repeat center center;
}

.white {
    background-color: white;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
}

div.searching-input input {
    outline: none;
    border: 0;
    outline: 0;
    background: transparent url(/img/search_custom_input.png) no-repeat;
    padding: 0 15px 0 10px;
    height: 29px;
    width: 200px;
    margin-top: 10px;
}

div.searching-input input:placeholder-shown {
    color:    #4a7e8d;
}

div.searching-input input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #4a7e8d;
}
div.searching-input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #4a7e8d;
   opacity:  1;
}
div.searching-input inputdiv.searching-input input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #4a7e8d;
   opacity:  1;
}
div.searching-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #4a7e8d;
}

ul.nav.navbar-nav.navbar-right span {
    margin-top: -5px;
    color: #4a7e8d;
}

div.custom-search-stripe {
    background: url(/img/search_custom_stripe.png) no-repeat;
    width: 720px;
    height: 41px;
    margin-top: -37px;
    background-size: cover;
}

p.sticky-domains {
    color:  #984e7b;
    font-size: 39px;
    font-weight: 500;
}

ul.nav.nav-tabs.sticky-domains {
    background-color: #984e7b;
    border: none;
    font-size: 17px;
}

ul.nav.nav-tabs.sticky-domains a{
    color: #fff;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}

ul.nav.nav-tabs.sticky-domains a:hover{
    color: #bd5157;
    background-color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #777;
    background-color: #fff;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -6px;
}

.news-title {
    background: url(/img/news_title_blue.png) no-repeat;
    width: 100%;
    margin-left: 15px;
}

.title-news {
    color:  #fff;
    font-size: 31px;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
}

.subscribe-now {
    color:  #13a8ac;
    font-size: 31px;
    font-weight: 700;
    padding-left: 40px;
}

.subscribe_img {
    width: 100%;
}

dt.subscribe-text {
    color: lightslategray;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: -60px;
}

.subscribe-btn {
    margin-top: 15px;
    background: #8ed7d9 url(/img/subscribe_btn.png) no-repeat;
    width: 100%;
    padding: 0;
    border: 0;
}

.subscribe-btn-text {
    color:  #fff;
    font-size: 26px;
    margin-top: -30px;
}

.news-date-text {
    color: #1aaeb2;
    font-size: 16px;
    text-align: left;
}

.news-text-desc {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

img.news-stripe {
    width: 100%;
    margin-top: -25px;
}

.reports-title {
    background-color: #aa7093;
    height: 50px;
}

.report-news {
    color:  #fff;
    font-size: 31px;
    font-weight: 700;
    text-align: left;
    padding: 8px 40px;
    margin: 0px;
}

p.news-text-desc a {
    color: #1aaeb2;
    font-size: 15px;
    font-weight: 500;
}

.reports-dt-title {
    margin-bottom: 5px;
}

.reports-img {
    padding-left: 40px;
}

.reports-stripe {
    margin-top: -20px;
}

.list-group-item {
    border: none;
}

.glyph-background {
    background-color: #d3d3d3;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    padding: 4px 0 0 6px;
    margin-right: 15px;
}

#legenda span g {
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    background: #fff;
    display: inline-block;
    margin-left: 15px;
}

#legenda span.s-f g {
    background: #c9e7ce;
}

#legenda span.s-i g {
    background: #fee6bf;
}

#legenda span.s-e g {
    background: #e02222;
}

.steps-header {
    border: 1px solid #000;
}

.individual-step.in-curs {
    background: #fee6bf;
}

.individual-step {
    border-bottom: 1px solid #000;
    line-height: 22px;
}

.individual-step.finalizat {
    background: #c9e7ce;
    color: #3e4d5c;
}

.individual-step.depasit {
    background: #e02222;
}

#steps-list .step {
    padding: 5px;
    min-height: 35px;
}

.clerfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 7px;
}

.profile-userbuttons {
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.green-haze.btn {
    color: #FFFFFF;
    background-color: #44b6ae;
    border-radius: 25px;
    font-size: 14px;
}

.green-haze:hover, .green-haze:focus, .green-haze:active, .green-haze.active {
    color: #FFFFFF;
    background-color: #3a9c95;
}

.home-slider {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -40px;
        margin-top: -17px;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -40px;
        margin-top: -17px;
    }
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

.panel-default>.panel-heading {
    background-color: #F3F9F9;
    border-color: #a8d2d6;

}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: -65px;
    }
    div#bs-example-navbar-collapse-1 {
         margin-left: -40px;
    }
}

.text-scope {
    font-size: 21px;
    font-weight: 400;
    color: darkslategray;
}

span.text-scope {
    font-size: 17px;
    color: lightslategray;
}

.news-ellipsis {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report-ellipsis {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
